header .search {
    border-radius: 30px;
    margin-left: 7px;
    background-color: none !important;
}

.offcanvas-header { 
    display: inline-block !important;
}
.mode-user {
    margin-left: -10px;
}
.login-buttons {
    margin-left: -10px;
}
@media (max-width: 980px) {
   header .woodmart-one {
    display: none;
   }
   header .woodmart-two{
    display: block;
    position: fixed;
    background-color: #FBFAF7;
    top: 0;
    z-index: 999;
    .login {
        margin-left: -10px;
    }
    .offcanvas {
        width: 100%;
    }
   }
    header .gift {
        display: none;
    } 
    header .media {
        display: none;
    }
    header {
        position: relative;
        .text-end {
            margin-right: -150px;
            margin-bottom: -40px;
        }
        .cart {
            position: absolute;
        }
    .navbar-collapse {
        margin-top: 10px;
        
    }
        
    }

}
.woodmart-one .input-group .modal-search {
    background-color: #F59A57;
}
.text-end .btn{
    border-radius: 30px;
}

@media (min-width: 981px) {
    header .woodmart-one {
     display: block;
    }
    header .woodmart-two{
     display: none;
    } 
}