* {
    font-family: "Urbanist", sans-serif;
}

.light {
    background-color: #F3F2F0 !important;
    color: black;
    footer {
        background-color: black !important;
        color: white !important;
    }
    footer .col-6 ul .nav-link {
        color: white;
    }
    header .woodmart {
        background-color: #FBFAF7 ;
        color: black !important;
        padding: 0 100px;
    }
    .home-section .container .card {
        background-color: #F3F2F0;
    }
    .about-section2 .container .card {
        background-color: #F3F2F0;
    }
    header nav ul li .nav-link {
        background-color: #FBFAF7 ;
        color: black !important;
    }
    .logo {
        width: 210px;
        height: 40px;
    }
    .products-details {
        background-color: #F3F2F0 !important;
    }

}
.dark {
    background-color: black;
    color: white;
    footer {
        background-color: white !important;
        color: black !important;
    }
    footer .col-6 ul .nav-link {
        color: black;
    }
    header .woodmart {
        background-color: black !important;
        color: white ;
        padding: 0 100px;
    }
    header nav ul li .nav-link {
        background-color: black ;
        color: white !important;
    }
    .logo {
        width: 210px;
        height: 40px;
    }
    .home-section .container .card {
        background-color: black;
    }
    .about-section2 .container .card {
        background-color: black;
    }
}
@media (max-width: 980px) {
    .dark {
        header{
            .navbar-collapse {
                background-color: white !important;
                color: white !important;
            }
        }
    }
}
